.card-container {
  padding: 25px 32px;
  border: 1px solid var(--DARK-GREY);
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
  overflow: hidden;
  /* box-shadow: var(--BOX-SHADOW); */
}

.name-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.name-container i {
  display: grid;
  place-items: center;
}

.name-container svg {
  fill: #01ab31;
}

.card-name {
  font-weight: 700;
}

.card-comment,
.card-date {
  font-size: 14px;
  color: var(--DARK-GREY);
  text-overflow: clip;
}

.card-date span {
  font-weight: 700;
}

@media screen and (min-width: 900px) {
  .card-container {
    min-height: 250px;
    max-height: 300px;
  }
}
