.carousell {
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: var(--GAP-S);
}
.img-container {
  height: 300px;
  max-width: 300px;
  box-shadow: var(--BOX-SHADOW);
  border-radius: var(--BORDER-RADIUS);
  overflow: hidden;
  background-color: var(--GREY);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-rating img {
  height: 20px;
  width: 20px;
}

.card-rating span {
  color: var(--DARK-GREY);
  font-size: 14px;
}

.card-name,
.card-price {
  color: var(--DARK);

  font-weight: 700;
}

.card-name {
  margin-top: 5px;
}
.card-price {
  font-size: 20px;
}
