<div class="carousell">
  <swiper-container
    slides-per-view="2"
    space-between="20"
    [breakpoints]="{
      '760': {
        slidesPerView: 3,

      },
      '1024': {
        slidesPerView: 4,

      }
    }"
  >
    <swiper-slide
      id="swiper"
      class="card-container swiper"
      *ngFor="let carousell of carousellInfo; let i = index"
    >
      <figure class="img-container">
        <img [src]="carousell.clotheImgUrl" alt="" />
      </figure>
      <p class="card-name">{{ carousell.clotheName | summary : 20 }}</p>

      <app-rating [productRating]="carousell.clotheRating"></app-rating>

      <p class="card-price">{{ carousell.clothePrice | currency : "USD" }}</p>
    </swiper-slide>
  </swiper-container>
</div>
