<div
  class="card-container"
  *ngFor="
    let product of storeInventory
      | paginate : { itemsPerPage: 9, currentPage: currentPage };
    let i = index
  "
  [routerLink]="['/product', i, product.clotheName]"
>
  <figure class="img-container">
    <img [src]="product.clotheImgUrl" alt="" />
  </figure>
  <p class="card-name">{{ product.clotheName }}</p>

  <app-rating [productRating]="product.clotheRating"></app-rating>

  <div class="price-container">
    <p *ngIf="product.isDiscounted" class="card-price">
      {{
        ((product.clothesDiscount / 100) * product.clothePrice -
          product.clothePrice) *
          -1 | currency : "USD"
      }}
    </p>

    <p [ngClass]="product.isDiscounted ? 'discounted' : 'card-price'">
      {{ product.clothePrice | currency : "USD" }}
    </p>

    <p class="discount" *ngIf="product.isDiscounted">
      {{ product.clothesDiscount }} %
    </p>
  </div>
</div>
