<div class="card-container">
  <figure class="img-container">
    <img [src]="storeInventory.clotheImgUrl" alt="" />
  </figure>
  <p class="card-name">{{ storeInventory.clotheName }}</p>

  <app-rating [productRating]="storeInventory.clotheRating"></app-rating>

  <div class="price-container">
    <p *ngIf="storeInventory.isDiscounted" class="card-price">
      {{
        ((storeInventory.clothesDiscount / 100) * storeInventory.clothePrice -
          storeInventory.clothePrice) *
          -1 | currency : "USD"
      }}
    </p>

    <p [ngClass]="storeInventory.isDiscounted ? 'discounted' : 'card-price'">
      {{ storeInventory.clothePrice | currency : "USD" }}
    </p>

    <p class="discount" *ngIf="storeInventory.isDiscounted">
      {{ storeInventory.clothesDiscount }} %
    </p>
  </div>
</div>
