.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--GAP-S);
}
.img-container {
  height: 260px;
  width: 180px;
  box-shadow: var(--BOX-SHADOW);
  border-radius: var(--BORDER-RADIUS);
  overflow: hidden;
  background-color: var(--GREY);
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
}

.card-name,
.card-price {
  color: var(--DARK);
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-weight: 700;
  text-wrap: nowrap;
}
.card-name {
  margin-top: 5px;
}
.card-price {
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
}

.price-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.discount {
  font-size: 10px;
  color: #f33;
  background-color: rgba(255, 165, 165, 0.438);
  padding: 6px 14px;
  width: max-content;
  border-radius: var(--BORDER-ROUND);
}

.discounted {
  color: var(--DARK-GREY);
  font-size: 20px;

  font-weight: 700;

  text-decoration-line: line-through;
}

.rating-container {
}

@media screen and (min-width: 900px) {
  .img-container {
    height: 260px;
    width: 200px;
  }

  .card-name {
    width: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .img-container {
    height: 280px;
    width: 280px;
  }

  .card-name {
    width: 100%;
  }
}
