.banner {
  font-size: var(--FS-BANNER);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--DARK);
  min-height: 40px;
  color: var(--WHITE);
  padding-inline: var(--PADDING-INLINE);
  padding-block: 10px;
}

.banner a {
  color: var(--WHITE);
}

.banner a:hover,
.banner a:focus {
  color: var(--GREY);
}

@media screen and (min-width: 760px) {
  .banner {
    padding-block: 16px;
  }
}
