.categories {
  padding-inline: var(--PADDING-INLINE);
  position: relative;
  overflow: hidden;
}

.categories__url {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: var(--GAP-S);
}

.categories__url p:first-child,
.categories__url p:last-child {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.categories__url p:last-child {
  color: var(--DARK);
  font-weight: 700;
}

.categories__url i {
  display: grid;
  place-items: center;
}

.categories__url svg {
  height: 15px;
  width: 15px;
  fill: var(--DARK-GREY);
}

.categories__main {
  margin-top: 5%;
}

.main-header {
  display: flex;
  align-items: center;
  gap: var(--GAP-S);
  position: relative;
  flex-wrap: wrap;
  padding-right: 40px;
}

.main-header h2 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
}

.sort {
  display: flex;
  gap: var(--GAP-S);
  align-items: center;
}

.sort p,
.sort label {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  color: var(--DARK-GREY);
}

.sort-right {
  display: none;
}

.sort-option {
  font-size: 14px;
  border: none;
  font-weight: 700;
  width: min-content;
  background: none;
}

.filter {
  background-color: var(--GREY);
  display: grid;
  place-items: center;
  padding: 7px;
  border-radius: var(--BORDER-ROUND);
  position: absolute;
  right: 0;
}

.filter svg {
  height: 20px;
  width: 20px;
}

.main-product {
  margin-block: 30px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--GAP-M);
  place-items: center;
}

.product-card {
}

.product-border {
  background-color: var(--GREY);
}

.main-controller {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.button-controller {
  background: transparent;
  border: 1px solid var(--DARK-GREY);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: var(--GAP-S);
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.button-controller:disabled {
  color: var(--WHITE);
  border: 1px solid var(--DARK);
  fill: var(--WHITE);
  background-color: var(--DARK);
}

.button-controller:hover,
.button-controller:focus {
  background-color: var(--DARK-GREY);
  color: var(--WHITE);
  fill: var(--WHITE);
}

.button-controller i {
  display: grid;
  place-items: center;
}

.button-controller svg {
  height: 15px;
  width: 15px;
}

.controller-page {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* .controller-page li {
  width: 36px;
  padding: 12px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--DARK-GREY);
  gap: var(--GAP-S);
} */

.active {
  background-color: var(--GREY);
}

.filter-tab {
  position: absolute;
  width: 100vw;
  height: max-content;
  left: 0;
  top: 0;
  bottom: 0;
}

/* PAGINATION */

.pagination {
  display: flex;
  align-items: center;
  gap: var(--GAP-S);
  user-select: none;
  -webkit-user-select: none;
}
.page-item {
  display: inline;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 2;
  color: var(--WHITE);
  cursor: default;
  background-color: var(--DARK-GREY);
  border-color: var(--DARK-GREY);
}
.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
  color: #818a91;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.page-link {
  width: 40px;
  padding: 12px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--DARK-GREY);
  gap: var(--GAP-S);
}
.page-link:focus,
.page-link:hover {
  color: var(--WHITE);
  background-color: var(--DARK-GREY);
  border-color: var(--DARK-GREY);
}

/* MEDIA QUERY */

@media screen and (min-width: 760px) {
  .filter-tab {
    position: static;
    margin-top: 30px;
    max-width: 300px;
    width: 50%;
  }

  .main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: var(--GAP-M);
    max-width: 1200px;
    margin-inline: auto;
    padding-bottom: 10px;
  }

  .main-header {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sort-right {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .categories__main,
  .main-product {
    width: 100%;
  }

  .product-card {
    width: max-content;
  }

  .main-product {
    display: grid;
    place-items: center;
  }

  .categories__main {
    margin-top: 30px;
    gap: var(--GAP-L);
  }
  .filter {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .main-product {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    width: max-content;
    place-items: center;
  }

  .filter-tab {
    width: 100%;
  }
}
