.header {
  padding-inline: var(--PADDING-INLINE);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  position: relative;
}

.header__left {
  display: flex;
  align-items: center;
  gap: var(--GAP-M);
}

.header__left button {
  display: grid;
  place-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* header nav */
.menu-container {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: white;
  padding: 50px;
  min-height: 70svh;
  width: 80vw;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 1;
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.header__nav ul {
  list-style: none;
  gap: 24px;
  display: flex;

  flex-direction: column;
}

.header__nav li {
  border-bottom: 1px solid var(--DARK-GREY);
  padding-block: 10px;
}

.header__nav ul li a {
  font-size: 1rem;
  color: var(--DARK);
  text-decoration: none;
}

.header__nav ul li a:hover {
  color: var(--DARK-GREY);
}

/* header search */

.search-container i {
  position: absolute;
  left: 10px;
  align-self: center;
  display: grid;
  place-items: center;
}

.header__nav button {
  position: absolute;
  display: grid;
  place-items: center;
  border: none;
  background: transparent;
  top: -30px;
  right: -30px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--GAP-M);
}

.header__right button {
  background: none;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  position: relative;
  /* width: min-content;
  height: min-content; */
}

.header__right button:first-child {
  display: none;
}

.header__right button:hover {
  border-bottom: 2px solid var(--DARK-GREY);
}

.main-search-container {
}

.main-search {
  position: absolute;
  right: 10%;
  top: 100%;
  z-index: 1;
}

.button-notif {
  position: absolute;
  font-size: 10px;
  display: grid;
  place-items: center;
  height: 17px;
  width: 17px;
  color: var(--GREY);
  background-color: rgba(255, 0, 0, 0.616);
  border-radius: var(--BORDER-ROUND);
  top: -5px;
  right: -5px;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.heartbeat {
}

/* MEDIA QUERY */
@media screen and (min-width: 760px) {
  .header__left button {
    display: none;
  }
  .menu-container {
    animation: none;
    box-shadow: none;
    min-height: 0;
    background: transparent;
    position: initial;
    padding: 0;
  }

  .header__nav {
    flex-direction: row;
  }

  .header__nav ul {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .header__nav li {
    border-bottom: none;
    padding-block: 0;
  }

  .header__nav button {
    display: none;
  }
  .nav-search {
    display: none;
  }

  .header__right button:first-child {
    display: initial;
  }
}

/*  */
/* KEYFRAMES */

/* ----------------------------------------------
 * Generated by Animista on 2023-12-9 21:3:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
    transform: scale(2.2);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
