<div class="border"></div>
<div>
  <a class="info-link">Home</a>
</div>
<section class="product">
  <section class="product__info">
    <div class="product-img-container">
      <figure class="main-img-container">
        <img
          [src]="clotheInfo.clotheImgUrl"
          alt="Clothe"
          title="Image Of A Clothes"
        />
      </figure>

      <div class="sub-img-container">
        <figure class="sub-img">
          <img
            [src]="clotheInfo.clotheImgUrl"
            alt="Clothe"
            title="Image Of A Clothes"
          />
        </figure>

        <figure class="sub-img">
          <img
            [src]="clotheInfo.clotheImgUrl"
            alt="Clothe"
            title="Image Of A Clothes"
          />
        </figure>

        <figure class="sub-img">
          <img
            [src]="clotheInfo.clotheImgUrl"
            alt="Clothe"
            title="Image Of A Clothes"
          />
        </figure>
      </div>
    </div>

    <section class="info-container">
      <h2>{{ clotheInfo.clotheName }}</h2>
      <app-rating [productRating]="clotheInfo.clotheRating"></app-rating>
      <div class="price-container">
        <p *ngIf="clotheInfo.isDiscounted" class="card-price">
          {{
            ((clotheInfo.clothesDiscount / 100) * clotheInfo.clothePrice -
              clotheInfo.clothePrice) *
              -1 | currency : "USD"
          }}
        </p>

        <p [ngClass]="clotheInfo.isDiscounted ? 'discounted' : 'card-price'">
          {{ clotheInfo.clothePrice | currency : "USD" }}
        </p>

        <p class="discount" *ngIf="clotheInfo.isDiscounted">
          {{ clotheInfo.clothesDiscount }} %
        </p>
      </div>
      <p class="product-disc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
        perspiciatis, dicta placeat ex a dolores animi non porro dolorem nemo
        ea, cupiditate recusandae repellendus nesciunt ratione. Officia sint
        assumenda porro?
      </p>

      <div class="border"></div>

      <form class="selection">
        <p>Select Color</p>
        <div class="color-container slide-in-top">
          <button
            *ngFor="let colors of clotheInfo.clotheColor; let i = index"
            title="color select"
            class="color-button color-selected"
            [style.background]="clotheInfo.clotheColor.color"
            (click)="selectedColor(i)"
          >
            <i *ngIf="colors.selected">
              <svg
                height="15px"
                version="1.1"
                viewBox="0 0 18 15"
                width="15px"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  fill="none"
                  fill-rule="evenodd"
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                >
                  <g
                    fill="#ffffff"
                    id="Core"
                    transform="translate(-423.000000, -47.000000)"
                  >
                    <g id="check" transform="translate(423.000000, 47.500000)">
                      <path
                        d="M6,10.2 L1.8,6 L0.4,7.4 L6,13 L18,1 L16.6,-0.4 L6,10.2 Z"
                        id="Shape"
                      />
                    </g>
                  </g>
                </g>
              </svg>
            </i>
          </button>
        </div>

        <div class="border"></div>

        <p>Select Sizes</p>
        <div class="size-container">
          <button
            *ngFor="let sizes of clotheInfo.clotheSize; let i = index"
            type="button"
            title="size picker"
            (click)="selectedSize(i)"
            [ngClass]="sizes.selected ? 'size-selected' : ''"
          >
            {{ sizes.size }}
          </button>
        </div>

        <div class="border"></div>

        <div class="cart-container">
          <div class="quantity-container">
            <button
              type="button"
              title="Minus"
              (click)="minusQty()"
              [disabled]="quantity === 1"
            >
              <svg
                height="20px"
                id="Layer_1"
                style="enable-background: new 0 0 512 512"
                version="1.1"
                viewBox="0 0 512 512"
                width="20px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M417.4,224H94.6C77.7,224,64,238.3,64,256c0,17.7,13.7,32,30.6,32h322.8c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"
                />
              </svg>
            </button>
            <p>{{ quantity }}</p>
            <button type="button" title="Plus" (click)="plusQty()">
              <svg
                height="20px"
                id="Layer_1"
                style="enable-background: new 0 0 32 32"
                version="1.1"
                viewBox="0 0 32 32"
                width="20px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M28,14H18V4c0-1.104-0.896-2-2-2s-2,0.896-2,2v10H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h10v10c0,1.104,0.896,2,2,2  s2-0.896,2-2V18h10c1.104,0,2-0.896,2-2S29.104,14,28,14z"
                />
              </svg>
            </button>
          </div>

          <button class="button">Add to Cart</button>
        </div>
      </form>
    </section>
  </section>
</section>
<section class="additional-info">
  <div class="additional-info__tab">
    <ul>
      <li>Product Details</li>
      <li class="active-tab">Ratings & Review</li>
      <li>FAQ</li>
    </ul>
  </div>

  <div class="additional-info__header">
    <div class="ai-header-left">
      <h4>All Reviews</h4>
      <p>(233)</p>
    </div>

    <div class="ai-header-right">
      <i class="filter">
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }
            </style>
          </defs>

          <g data-name="Layer 2" id="Layer_2">
            <path d="M28,9H11a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z" />
            <path d="M7,9H4A1,1,0,0,1,4,7H7A1,1,0,0,1,7,9Z" />
            <path d="M21,17H4a1,1,0,0,1,0-2H21a1,1,0,0,1,0,2Z" />
            <path d="M11,25H4a1,1,0,0,1,0-2h7a1,1,0,0,1,0,2Z" />
            <path
              d="M9,11a3,3,0,1,1,3-3A3,3,0,0,1,9,11ZM9,7a1,1,0,1,0,1,1A1,1,0,0,0,9,7Z"
            />
            <path
              d="M23,19a3,3,0,1,1,3-3A3,3,0,0,1,23,19Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,23,15Z"
            />
            <path
              d="M13,27a3,3,0,1,1,3-3A3,3,0,0,1,13,27Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,13,23Z"
            />
            <path d="M28,17H25a1,1,0,0,1,0-2h3a1,1,0,0,1,0,2Z" />
            <path d="M28,25H15a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z" />
          </g>
          <g id="frame"><rect class="cls-1" height="32" width="32" /></g>
        </svg>
      </i>
      <button class="button review-button" title="review">
        Write A Review
      </button>
    </div>
  </div>

  <div class="rating-container">
    <app-comments-card
      *ngFor="let comment of customerComment | slice : 0 : 6"
      [customersComment]="comment"
    ></app-comments-card>

    <button class="button view-more-button">View More</button>
  </div>
</section>

<section class="more-clothes">
  <h2 class="banner-h2">You Might Also Like</h2>
  <app-carousell></app-carousell>
</section>
