.border {
  background-color: var(--GREY);
}

.product {
  padding-inline: var(--PADDING-INLINE);
  padding-block: var(--PADDING-BLOCK);
}

.product-img-container,
.sub-img-container {
  display: flex;
  gap: var(--GAP-M);
}

.product-img-container {
  flex-direction: column;
}

.sub-img-container {
  justify-content: space-evenly;
}

.main-img-container,
.sub-img,
.main-img-containe img,
.sub-img img {
  border-radius: var(--BORDER-RADIUS);
  overflow: hidden;
}

.main-img-container {
  max-width: 444px;
  height: 290px;
  max-height: 530px;
  background-color: var(--GREY);
  width: 100%;
  align-self: center;
}

.sub-img {
  background-color: var(--GREY);

  width: 111px;
  height: 106px;
  cursor: pointer;
}
.main-img-container img,
.sub-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: scale(1.5);
}

.active-img {
  border: 2px solid var(--DARK-GREY);
}

/*  */
.info-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--GAP-S);
}

.info-container h2 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
  font-weight: 700;
  line-height: 28px;
}

.card-price,
.discounted {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
}

.card-price {
  color: var(--DARK);
  font-weight: 700;
  text-wrap: nowrap;
}

.price-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.discount {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  color: #f33;
  background-color: rgba(255, 165, 165, 0.438);
  padding: 6px 14px;
  width: max-content;
  border-radius: var(--BORDER-ROUND);
}

.discounted {
  color: var(--DARK-GREY);
  font-weight: 700;
  text-decoration-line: line-through;
}

.product-disc {
  color: var(--DARK-GREY);
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.selection {
  display: flex;
  flex-direction: column;
  gap: var(--GAP-S);
  padding-block: 10px;
}

.selection p {
  color: var(--DARK-GREY);
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--GAP-S);
}

.color-button {
  width: clamp(30px, 5vw, 40px);
  height: clamp(30px, 5vw, 40px);
  border: 1px solid var(--GREY);
  border-radius: var(--BORDER-ROUND);
  box-shadow: var(--BOX-SHADOW);
  display: grid;
  place-items: center;
  overflow: hidden;
  cursor: pointer;

  /* stock color */
  background-color: black;
}

.color-button i {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: rgb(130, 130, 130);
  background: radial-gradient(
    circle,
    rgba(130, 130, 130, 0.3) 4%,
    rgba(240, 240, 240, 0.3) 100%
  );
}

.color-button i svg {
  fill: var(--WHITE);
}

.size-container {
  display: flex;
  gap: var(--GAP-S);
  flex-wrap: wrap;
}

.size-container button {
  padding: 10px 20px;

  font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
  border: none;
  border-radius: var(--BORDER-ROUND);
  cursor: pointer;
}

.size-selected {
  background: var(--DARK);
  color: var(--WHITE);
}

.clothe-style {
  margin-top: 20px;
}

.filter-button {
  margin-top: 10%;
  border: 1px solid var(--DARK-GREY);
  color: var(--DARK);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--DARK);
  color: var(--WHITE);
}

.cart-container {
  display: flex;
  gap: var(--GAP-M);
}

.quantity-container {
  display: flex;
  align-items: center;
  background-color: var(--LIGHT-GREY);
  width: max-content;
  border-radius: var(--BORDER-ROUND);
}

.quantity-container button {
  display: grid;
  place-items: center;
  background-color: var(--LIGHT-GREY);
  border: none;
  width: 100%;
  padding: 12px 13px;
  cursor: pointer;
}

.quantity-container button:hover {
  background-color: var(--GREY);
}

.quantity-container button:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.quantity-container button:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.quantity-container button:active {
  background-color: var(--DARK);
  fill: var(--WHITE);
}

.quantity-container p {
  font-size: 14px;
  padding-inline: 10px;
  color: var(--DARK);
  -webkit-user-select: none;
  user-select: none;
}

.cart-button {
  background-color: var(--DARK);
  color: var(--WHITE);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.cart-button i {
  display: grid;
  place-items: center;
}

.shopping-cart {
  height: 30px;
  width: 30px;
}

.shopping-box {
  height: 15px;
  width: 15px;
  fill: var(--WHITE);
}

.shopping-cart {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
}

.shopping-box {
  position: absolute;
  z-index: 2;
  top: -20%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.cart-button span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.add-cart {
  opacity: 1;
}

.added {
  opacity: 0;
}

.cart-clicked .shopping-cart {
  animation: cart 1.5s ease-in-out forwards;
}

.cart-clicked .shopping-box {
  animation: box 1.5s ease-in-out forwards;
}

.cart-clicked .add-cart {
  animation: txt1 1.5s ease-in-out forwards;
}

.cart-clicked .added {
  animation: txt2 1.5s ease-in-out forwards;
}

.cart-button:hover {
  background-color: var(--DARK-GREY);
}

/* end of .product */

.additional-info {
  padding-inline: var(--PADDING-INLINE);
  display: flex;
  flex-direction: column;
}

.additional-info__tab {
}

.additional-info__tab ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  border-bottom: 1px solid var(--GREY);
}

.additional-info li {
  font-size: 14px;
  padding-block: 10px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.active-tab {
  border-bottom: 2px solid var(--DARK);
  font-weight: 700;
}

.additional-info__header {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
}

.additional-info__header div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.filter {
  background-color: var(--GREY);
  display: grid;
  place-items: center;
  padding: 7px;
  border-radius: var(--BORDER-ROUND);
  width: max-content;
}

.filter svg {
  height: 20px;
  width: 20px;
}

.review-button {
  font-size: 12px;
}
.rating-container {
  display: grid;
  place-items: center;
  gap: var(--GAP-S);
}
.view-more-button {
  margin-top: 50px;
  border: 1px solid var(--DARK);
  background-color: var(--WHITE);
  color: var(--DARK);
  max-width: 230px;
  align-self: center;
}

.view-more-button:hover,
.view-more-button:focus {
  background-color: var(--DARK);
  color: var(--WHITE);
}

.more-clothes {
  margin-top: 50px;
  padding-inline: var(--PADDING-INLINE);
  display: flex;
  flex-direction: column;
  gap: var(--GAP-M);
}
.pages-url {
  margin-left: 5%;
}
/*  */
/* MEDIA QUERY */
@media screen and (min-width: 760px) {
  .rating-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin-inline: auto;
  }

  .comments-container {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .product__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--GAP-M);
    max-width: 1400px;
    margin-inline: auto;
  }

  .product-img-container {
    align-self: center;
  }
}

@media screen and (min-width: 1000px) {
  .product__info {
    gap: var(--GAP-L);
    height: 530px;
    overflow: hidden;
  }
  .product-img-container {
    flex-direction: row-reverse;
  }

  .main-img-container {
    height: 530px;
  }

  .info-container {
    justify-content: space-evenly;
  }

  .sub-img-container {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .sub-img {
    width: 152px;
    height: 160px;
    flex-shrink: 0;
  }
}

/* KEYFRAME */

@keyframes cart {
  0% {
    left: -10%;
  }

  40%,
  60% {
    left: 50%;
  }

  100% {
    left: 110%;
  }
}

@keyframes box {
  60% {
    top: 30%;
    left: 50%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes txt1 {
  0% {
    opacity: 1;
  }

  20%,
  100% {
    opacity: 0;
  }
}

@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
