<div class="border"></div>
<div>
  <a class="info-link">Home</a>
</div>
<section class="product">
  <section class="product__info">
    <div class="product-img-container">
      <figure class="main-img-container">
        <img
          [src]="clotheInfo.clotheImgUrl"
          alt="Clothe"
          title="Image Of A Clothes"
        />
      </figure>

      <div class="sub-img-container">
        <figure class="sub-img">
          <img
            [src]="clotheInfo.clotheImgUrl"
            alt="Clothe"
            title="Image Of A Clothes"
          />
        </figure>

        <figure class="sub-img">
          <img
            [src]="clotheInfo.clotheImgUrl"
            alt="Clothe"
            title="Image Of A Clothes"
          />
        </figure>

        <figure class="sub-img">
          <img
            [src]="clotheInfo.clotheImgUrl"
            alt="Clothe"
            title="Image Of A Clothes"
          />
        </figure>
      </div>
    </div>

    <section class="info-container">
      <h2>{{ clotheInfo.clotheName }}</h2>
      <app-rating [productRating]="clotheInfo.clotheRating"></app-rating>
      <div class="price-container">
        <p *ngIf="clotheInfo.isDiscounted" class="card-price">
          {{
            ((clotheInfo.clothesDiscount / 100) * clotheInfo.clothePrice -
              clotheInfo.clothePrice) *
              -1 | currency : "USD"
          }}
        </p>

        <p [ngClass]="clotheInfo.isDiscounted ? 'discounted' : 'card-price'">
          {{ clotheInfo.clothePrice | currency : "USD" }}
        </p>

        <p class="discount" *ngIf="clotheInfo.isDiscounted">
          {{ clotheInfo.clothesDiscount }} %
        </p>
      </div>
      <p class="product-disc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
        perspiciatis, dicta placeat ex a dolores animi non porro dolorem nemo
        ea, cupiditate recusandae repellendus nesciunt ratione. Officia sint
        assumenda porro?
      </p>

      <div class="border"></div>

      <section class="selection">
        <p>Select Color</p>
        <div class="color-container slide-in-top">
          <button
            *ngFor="let colors of clotheInfo.clotheColor; let i = index"
            title="color select"
            class="color-button color-selected"
            [style.background]="clotheInfo.clotheColor.color"
            (click)="selectedColor(i)"
          >
            <i *ngIf="colors.selected">
              <svg
                height="15px"
                version="1.1"
                viewBox="0 0 18 15"
                width="15px"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  fill="none"
                  fill-rule="evenodd"
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                >
                  <g
                    fill="#ffffff"
                    id="Core"
                    transform="translate(-423.000000, -47.000000)"
                  >
                    <g id="check" transform="translate(423.000000, 47.500000)">
                      <path
                        d="M6,10.2 L1.8,6 L0.4,7.4 L6,13 L18,1 L16.6,-0.4 L6,10.2 Z"
                        id="Shape"
                      />
                    </g>
                  </g>
                </g>
              </svg>
            </i>
          </button>
        </div>

        <div class="border"></div>

        <p>Select Color</p>
        <div class="size-container">
          <button
            *ngFor="let sizes of clotheInfo.clotheSize; let i = index"
            type="button"
            title="size picker"
            (click)="selectedSize(i)"
            [ngClass]="sizes.selected ? 'size-selected' : ''"
          >
            {{ sizes.size }}
          </button>
        </div>
      </section>
    </section>
  </section>
</section>
