<div class="border"></div>
<div class="pages-url">
  <p>Home</p>

  <i>
    <svg
      height="512px"
      id="Layer_1"
      style="enable-background: new 0 0 512 512"
      version="1.1"
      viewBox="0 0 512 512"
      width="512px"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <polygon
        points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256 "
      />
    </svg>
  </i>

  <p>T-Shirt</p>
</div>
<section class="product">
  <section class="product__info">
    <div class="product-img-container">
      <figure class="main-img-container">
        <img [src]="mainImage" alt="Clothe" title="Image Of A Clothes" />
      </figure>

      <div class="sub-img-container">
        <figure
          class="sub-img"
          *ngFor="let img of imgStorage; let i = index"
          [ngClass]="img.selected ? 'active-img' : ''"
        >
          <img
            [src]="img.imgUrl"
            alt="Clothe"
            title="Image Of A Clothes"
            (click)="mainImg(img.imgUrl, i)"
          />
        </figure>
      </div>
    </div>

    <section class="info-container">
      <h2>{{ clotheInfo.clotheName }}</h2>
      <app-rating [productRating]="clotheInfo.clotheRating"></app-rating>
      <div class="price-container">
        <p *ngIf="clotheInfo.isDiscounted" class="card-price">
          {{
            ((clotheInfo.clothesDiscount / 100) * clotheInfo.clothePrice -
              clotheInfo.clothePrice) *
              -1 | currency : "USD"
          }}
        </p>

        <p [ngClass]="clotheInfo.isDiscounted ? 'discounted' : 'card-price'">
          {{ clotheInfo.clothePrice | currency : "USD" }}
        </p>

        <p class="discount" *ngIf="clotheInfo.isDiscounted">
          {{ clotheInfo.clothesDiscount }} %
        </p>
      </div>
      <p class="product-disc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
        perspiciatis, dicta placeat ex a dolores animi non porro dolorem nemo
        ea, cupiditate recusandae repellendus nesciunt ratione. Officia sint
        assumenda porro?
      </p>

      <div class="border"></div>

      <form class="selection">
        <p>Select Color</p>
        <div class="color-container slide-in-top">
          <button
            *ngFor="let colors of clotheInfo.clotheColor; let i = index"
            title="color select"
            class="color-button color-selected"
            [style.background]="clotheInfo.clotheColor.color"
            (click)="selectedColor(i)"
          >
            <i *ngIf="colors.selected">
              <svg
                height="15px"
                version="1.1"
                viewBox="0 0 18 15"
                width="15px"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  fill="none"
                  fill-rule="evenodd"
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                >
                  <g
                    fill="#ffffff"
                    id="Core"
                    transform="translate(-423.000000, -47.000000)"
                  >
                    <g id="check" transform="translate(423.000000, 47.500000)">
                      <path
                        d="M6,10.2 L1.8,6 L0.4,7.4 L6,13 L18,1 L16.6,-0.4 L6,10.2 Z"
                        id="Shape"
                      />
                    </g>
                  </g>
                </g>
              </svg>
            </i>
          </button>
        </div>

        <div class="border"></div>

        <p>Select Sizes</p>
        <div class="size-container">
          <button
            *ngFor="let sizes of clotheInfo.clotheSize; let i = index"
            type="button"
            title="size picker"
            (click)="selectedSize(i)"
            [ngClass]="sizes.selected ? 'size-selected' : ''"
          >
            {{ sizes.size }}
          </button>
        </div>

        <div class="border"></div>

        <div class="cart-container">
          <div class="quantity-container">
            <button
              type="button"
              title="Minus"
              (click)="minusQty()"
              [disabled]="quantity === 1"
            >
              <svg
                height="20px"
                id="Layer_1"
                style="enable-background: new 0 0 512 512"
                version="1.1"
                viewBox="0 0 512 512"
                width="20px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M417.4,224H94.6C77.7,224,64,238.3,64,256c0,17.7,13.7,32,30.6,32h322.8c16.9,0,30.6-14.3,30.6-32  C448,238.3,434.3,224,417.4,224z"
                />
              </svg>
            </button>
            <p>{{ quantity }}</p>
            <button type="button" title="Plus" (click)="plusQty()">
              <svg
                height="16px"
                id="Layer_1"
                style="enable-background: new 0 0 32 32"
                version="1.1"
                viewBox="0 0 32 32"
                width="20px"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <path
                  d="M28,14H18V4c0-1.104-0.896-2-2-2s-2,0.896-2,2v10H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h10v10c0,1.104,0.896,2,2,2  s2-0.896,2-2V18h10c1.104,0,2-0.896,2-2S29.104,14,28,14z"
                />
              </svg>
            </button>
          </div>

          <button
            class="button cart-button"
            (click)="addToCart()"
            [ngClass]="cartStatus ? 'cart-clicked' : ''"
          >
            <span class="add-cart">Add To Cart</span>
            <span class="added">Added</span>

            <!-- cart svg -->
            <i class="shopping-cart">
              <svg
                height="20px"
                version="1.1"
                viewBox="0 0 20 20"
                width="20px"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  fill="none"
                  fill-rule="evenodd"
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                >
                  <g
                    fill="#ffffff"
                    id="Core"
                    transform="translate(-212.000000, -422.000000)"
                  >
                    <g
                      id="shopping-cart"
                      transform="translate(212.000000, 422.000000)"
                    >
                      <path
                        d="M6,16 C4.9,16 4,16.9 4,18 C4,19.1 4.9,20 6,20 C7.1,20 8,19.1 8,18 C8,16.9 7.1,16 6,16 L6,16 Z M0,0 L0,2 L2,2 L5.6,9.6 L4.2,12 C4.1,12.3 4,12.7 4,13 C4,14.1 4.9,15 6,15 L18,15 L18,13 L6.4,13 C6.3,13 6.2,12.9 6.2,12.8 L6.2,12.7 L7.1,11 L14.5,11 C15.3,11 15.9,10.6 16.2,10 L19.8,3.5 C20,3.3 20,3.2 20,3 C20,2.4 19.6,2 19,2 L4.2,2 L3.3,0 L0,0 L0,0 Z M16,16 C14.9,16 14,16.9 14,18 C14,19.1 14.9,20 16,20 C17.1,20 18,19.1 18,18 C18,16.9 17.1,16 16,16 L16,16 Z"
                        id="Shape"
                      />
                    </g>
                  </g>
                </g>
              </svg>
            </i>

            <i class="shopping-box">
              <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <rect fill="none" height="256" width="256" />
                <path
                  d="M229.9,70.8h0a.1.1,0,0,1-.1-.1,16.2,16.2,0,0,0-6-5.9l-88-49.5a16,16,0,0,0-15.6,0l-88,49.5a16.2,16.2,0,0,0-6,5.9.1.1,0,0,1-.1.1v.2A15,15,0,0,0,24,78.7v98.6a16.1,16.1,0,0,0,8.2,14l88,49.5a16.5,16.5,0,0,0,7.2,2h1.4a15.7,15.7,0,0,0,7-2l88-49.5a16.1,16.1,0,0,0,8.2-14V78.7A15.6,15.6,0,0,0,229.9,70.8ZM128,29.2,207.7,74,177.1,91.4,96.4,46.9Zm.9,89.6L48.4,74,80,56.2l80.8,44.5Zm7.2,103.5.8-89.6L169,114.4v38.1a8,8,0,0,0,16,0V105.3l31-17.6v89.6Z"
                />
              </svg>
            </i>
          </button>
        </div>
      </form>
    </section>
  </section>
</section>
<section class="additional-info">
  <div class="additional-info__tab">
    <ul>
      <li>Product Details</li>
      <li class="active-tab">Ratings & Review</li>
      <li>FAQ</li>
    </ul>
  </div>

  <div class="additional-info__header">
    <div class="ai-header-left">
      <h4>All Reviews</h4>
      <p>(233)</p>
    </div>

    <div class="ai-header-right">
      <i class="filter">
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }
            </style>
          </defs>

          <g data-name="Layer 2" id="Layer_2">
            <path d="M28,9H11a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z" />
            <path d="M7,9H4A1,1,0,0,1,4,7H7A1,1,0,0,1,7,9Z" />
            <path d="M21,17H4a1,1,0,0,1,0-2H21a1,1,0,0,1,0,2Z" />
            <path d="M11,25H4a1,1,0,0,1,0-2h7a1,1,0,0,1,0,2Z" />
            <path
              d="M9,11a3,3,0,1,1,3-3A3,3,0,0,1,9,11ZM9,7a1,1,0,1,0,1,1A1,1,0,0,0,9,7Z"
            />
            <path
              d="M23,19a3,3,0,1,1,3-3A3,3,0,0,1,23,19Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,23,15Z"
            />
            <path
              d="M13,27a3,3,0,1,1,3-3A3,3,0,0,1,13,27Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,13,23Z"
            />
            <path d="M28,17H25a1,1,0,0,1,0-2h3a1,1,0,0,1,0,2Z" />
            <path d="M28,25H15a1,1,0,0,1,0-2H28a1,1,0,0,1,0,2Z" />
          </g>
          <g id="frame"><rect class="cls-1" height="32" width="32" /></g>
        </svg>
      </i>
      <button class="button review-button" title="review">
        Write A Review
      </button>
    </div>
  </div>

  <div class="rating-container">
    <app-comments-card
      *ngFor="let comment of customerComment | slice : 0 : 6"
      [customersComment]="comment"
      class="comments-container"
    ></app-comments-card>
  </div>

  <button class="button view-more-button">View More</button>
</section>

<section class="more-clothes">
  <h2 class="banner-h2">You Might Also Like</h2>
  <app-carousell></app-carousell>
</section>
