.hero {
  background-color: var(--LIGHT-GREY);
}

.hero__info {
  padding-top: var(--PADDING-BLOCK);
  padding-inline: var(--PADDING-INLINE);
  display: flex;
  flex-direction: column;
  gap: var(--GAP-M);
}

.hero__info h1 {
  font-size: 2.25rem;
  font-size: var(--FS-HERO);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 34px;
}

.hero__info p {
  font-size: 0.875rem;
  font-size: var(--FS-HERO-P);
  line-height: 25px;
  color: var(--DARK- GREY);
}

.hero-button {
  background-color: var(--DARK);
  color: var(--WHITE);
  padding: 16px 24px;
}

.info-container {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--GAP-M);
  margin-top: 20px;
}

.info-container div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-container h2 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.275rem + 1.125vw, 2.625rem);
}

.hero__banner {
  max-width: 700px;
  overflow: hidden;
  display: grid;
  place-items: center;
  margin-inline: auto;
}

.banner-img {
  width: 120%;
  overflow: hidden;
}

.banner-img img {
  width: 100%;
  height: auto;
  margin-inline: auto;

  margin-bottom: -40%;
}

.banner-brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--GAP-M);
  padding: 45px;
  background-color: var(--DARK);
}
/* END OF .hero */
.store {
  padding-inline: var(--PADDING-INLINE);
  padding-block: var(--PADDING-BLOCK);
}

.store__carousell {
  display: flex;
  flex-direction: column;
  gap: var(--GAP-L);
  max-width: 1400px;
  margin-inline: auto;
}

.store-border {
  margin-block: 50px;
}

.store-button {
  border: 1px solid var(--DARK);
}

.store-button:hover {
  background-color: var(--DARK);
  color: var(--WHITE);
}

.store__categories {
  padding-inline: var(--PADDING-INLINE);
  padding-block: var(--PADDING-BLOCK);
  border-radius: var(--BORDER-RADIUS);
  background-color: var(--GREY);
  margin-inline: auto;
  margin-top: 150px;
  background-image: url("../../../assets/background/categories-bg2.svg");
}

.store__categories h2 {
  margin-bottom: 40px;
}

.categories-container {
  display: grid;

  gap: var(--GAP-S);
  place-items: center;
}

.categories-img {
  height: 190px;

  background-color: var(--WHITE);
  position: relative;
  border-radius: var(--BORDER-RADIUS);
  overflow: hidden;
  border: none;
  box-shadow: var(--BOX-SHADOW);
}

.categories-img p {
  position: absolute;
  left: 30px;
  top: 20px;
  font-size: 24px;
  font-weight: 700;
  z-index: 1;
}

.casual img,
.formal img {
  width: 100%;
  height: auto;
  margin-left: 50%;
  transform: scale(1.5);
}

.party img {
  transform: scale(1);
  margin-left: 25%;
  margin-top: -20%;
}
.gym img {
  transform: scale(0.8);
  margin-left: 25%;
  margin-top: -50%;
}

.store__reviews {
  margin-top: 100px;
}

.review-h2 {
  text-align: start;
}

/*  */
/* MEDIA QUERY */

@media screen and (min-width: 760px) {
  .banner-img {
    width: 100%;
  }

  .categories-container {
    display: grid;

    gap: var(--GAP-S);
    row-gap: var(--GAP-M);
    place-items: center;
    grid-template-columns: repeat(2, auto);
  }

  .formal {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .hero {
    display: flex;
    justify-content: space-evenly;
  }

  .hero__info {
    justify-content: center;
    max-width: 900px;
  }

  .hero__info h1 {
    line-height: 64px;
  }

  .info-container {
    align-self: self-start;
  }

  .hero-button {
    align-self: self-start;
    width: 60%;
  }

  .hero__banner {
    place-items: end;
  }

  /*  */
  .store-button {
    align-self: center;
    width: 30%;
  }
}
