/* star ratings */

.rating-container {
  display: flex;
  align-items: center;
  gap: var(--GAP-S);
}

.rating-container p span {
  color: var(--DARK-GREY);
}

.crop {
  overflow: hidden;
}

.star-container {
  width: 120px;
  display: flex;
  align-items: center;
}

.star-container span {
  display: grid;
  place-items: center;
}

.star-container span svg {
  fill: #ffc633;
}

.rating-container p,
.rating-container span {
  font-size: 0.625rem;
  font-size: clamp(0.625rem, 0.55rem + 0.375vw, 1rem);
}
